SERVER_PORT=8091
CONFIG_SERVER_URI=http://config-service:8888
EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-service:8761/eureka/
EUREKA_INSTANCE_HOSTNAME=nutrition-ai-service

NUTRITION_AI_DB_HOST=localhost
NUTRITION_AI_DB_PORT=5441
NUTRITION_AI_DB_NAME=jameofit_nutrition_ai
NUTRITION_AI_DB_USER=postgres
NUTRITION_AI_DB_PASSWORD=12345678

IAM_JWKS_URI=http://iam-service:8081/api/v1/jwks/.well-known/jwks.json
NUTRITION_AI_INTERNAL_TOKEN=internal-service-secret-key
INTERNAL_SERVICE_SECRET=internal-service-secret-key

GCP_PROJECT_ID=
GCP_LOCATION=us-central1
GEMINI_MODEL=gemini-2.5-flash
GOOGLE_APPLICATION_CREDENTIALS=
GOOGLE_CLOUD_PROJECT=
